<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.IS215_Final.vecinoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VecinoApp">
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.EditInitiativeActivity"
            android:exported="false" />
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.InitiativeDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.NeighborsSelectActivity"
            android:exported="false" />
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.AddInitiativeActivity"
            android:exported="false" />
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.LogInActivity"
            android:exported="false" />
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.IS215_Final.vecinoapp.Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>